{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "import",
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "guard-for-in": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "react/jsx-key": [2, { "checkFragmentShorthand": true }],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "no-param-reassign": 0,
    "comma-dangle": ["error", "never"],
    "linebreak-style": "off",
    "no-console": "error",
    "no-plusplus": 0,
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "quotes": ["error", "single"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false
      }
    ],
    "import/group-exports": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      // use <root>/tsconfig.json
      "typescript": {
        "directory": "."
      }
    }
  },
  "overrides": [
    {
      "files": ["*.type.ts", "types.ts"],
      "rules": {
        "import/group-exports": "off",
        "import/prefer-default-export": "off"
      }
    }
  ]
}